<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
      Vector / libxposed 模块:
        · 模块名 = android:label
        · 描述   = android:description
        · 作用域 = res/META-INF/xposed/scope.list(三个目标包)
        · API 范围 = res/META-INF/xposed/module.prop
        · 入口   = res/META-INF/xposed/java_init.list
    -->

    <application
        android:label="@string/app_name"
        android:description="@string/app_description"
        android:allowBackup="true"
        android:supportsRtl="true" />

</manifest>
